# Dependencies
node_modules/
venv/
.venv/

# Python compiled Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Production builds
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# System & IDE
.DS_Store
.idea/
.vscode/

# Local database fallback storage
data/

# Public built assets
public/assets/